body {
  background: url('../images/bg0.jpg') no-repeat center center fixed;
  background-size: cover; 
  height: 100vh;
  margin: 0;

}
.error-box {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
}

